.brand-caro{
    margin-top: 15%;
    font-size: 90px;
}



.hero{
    width: 100vh;
    height: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}


img{
    width: 70vh;
    object-fit: cover;
    opacity: 80%;
    
}

.hero-text{
    position: absolute;
    right: 70%;
    font-family: 'Empera';
    font-size: 50px;
    top: 20%;
}
