.brand-logo{
    margin: 0px 50px;
    height: 100px;
    justify-content: center;
    display: flex;
}

.slider-container{
    justify-content: center;
    background-color: black;
    max-width: 2000px;
    
    
}


.title{
    font-family: 'Empera';
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
}

