:root {
  font-family: system-ui, sans-serif;;

  --primary-color: #000000; 
  --background-color: #333333;
  --secondary-color: #FFFFFF; 
  --accent-color: #333333; 
  
  color-scheme: light dark;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  text-decoration: none;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--accent-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: whitesmoke; 
    --background-color: whitesmoke;
    --secondary-color: #000000; 
    --accent-color: #333333;
  }

  button {
    background-color: #f9f9f9;
  }
}



.content {
  margin-top: 15vh;
  width: 100%;
  height: 50%;
}


input {
  border-radius: 30px;
  border: 2px solid gray;
  padding: 10px
}